@charset "UTF-8";

.footer {
  .container {
    max-width: 1640px;
  }

  padding: rem(70) 0;
  background: #272626;
  color: #cfcfcf;
  font-size: rem(15);
  font-weight: 300;

  &__info {
    float: right;
    display: flex;
    font-size: rem(18);
    font-weight: 400;
    color: $white;
  }

  &__txt {
    letter-spacing: -0.3px;
  }

  .copy {
    margin-top: rem(20);
  }

  @include mdq-max(md) {
    &__info {
      float: none;

      & > * {
        margin-bottom: 7px;
      }
    }
    &__txt {
      margin-top: 15px;
    }
  }
}
