@charset "UTF-8";

///*일반게시판 - 뷰페이지*/
.table-view-01 {
  table-layout: fixed;
  width: 100%;
  font-size: rem(20);
  font-weight: 300;
  color: $gray-3;
  border-bottom: solid 1px #ddd;

  .icon-notice {
    float: left;
    width: rem(100);
    margin-top: 0.25rem;
    background-size: auto 100%;
    background-position: left center;

    @include mdq-max(md) {
      float: none;
      margin: 0 0 10px 0;
    }
  }

  > thead,
  > tbody {
    > tr:first-child {
      > th,
      > td {
        padding-top: 1.3334em;
        padding-bottom: 1.3334em;
        border-top: solid 2px $gray-1;

        &:first-child {
          &:not(.txt_box, .tit_box) {
            vertical-align: middle;
            text-align: center;
          }
          .badge,
          .xi-volume-up {
            float: left;
            vertical-align: middle;
            margin-top: 0.3em;
            margin-right: 20px;
            font-size: 0.875rem;

            @include mdq-max(lg) {
              font-size: 11px;
            }
            @include mdq-max(md) {
              float: none;
              margin-top: 0;
              margin-right: 10px;
              margin-bottom: 10px;
            }
          }
          .xi-volume-up {
            font-size: 20px;

            @include mdq-max(lg) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  > thead,
  > tbody {
    > tr {
      > th,
      > td {
        padding: 1.875rem 8px;
        vertical-align: top;
        border-top: solid 1px #ddd;
      }
    }
  }

  > thead > tr > th,
  > tbody > tr > th {
    color: #333;
    text-align: left;
    font-weight: 500;
  }

  .blue {
    color: #5d9ad3;
  }

  .text_left {
    text-align: left;
  }

  .addfile {
    &_tit {
      display: inline-block;
      width: 100px;
    }

    &_txt {
      margin-right: 1.125rem;
    }
    @include mdq-max(lg) {
      &_tit {
        width: 40px;
        font-size: 12px;
      }
      &_txt {
        margin-right: 12px;
        font-size: 12px;
      }
    }
  }

  .notice-b {
    display: inline-block;
    padding: 2px 8px;
    background-color: #489fc4;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
  }

  &.title-black th {
    color: #333;
  }

  &.th-center th {
    text-align: center;
  }

  &.table-line {
    > thead > tr,
    > tbody > tr {
      > th,
      > td {
        border: solid 1px #ddd;
      }
    }
  }

  > tbody > tr > td .board-box {
    min-height: 150px;
    padding: 20px 8px;
    text-align: initial;
    word-break: break-all;

    @include mdq-max(md) {
      padding: 14px 0px;
      font-size: 14px;
    }
  }

  .tit_box {
    // border-bottom: 1px solid #ddd;
  }

  .tbl_detail_list {
    li {
      display: inline-block;
      position: relative;
      padding: 0 10px;

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }

      .tit_t {
        font-weight: bold;
        color: #222;
        margin-right: 5px;
      }

      &:first-child:before {
        display: none;
      }

      &:before {
        content: "";
        border-left: 1px solid #ccc;
        height: 10px;
        margin-top: -5px;
        top: 50%;
        left: -2px;
        position: absolute;
      }

      @include mdq-max(sm) {
        padding: 0 4px;

        .tit_t {
          margin-right: 0;
        }
      }
    }
  }

  .tit_box p {
    word-break: break-all;
    &.tit {
      float: left;

      @include mdq-max(lg) {
        float: none;
        font-size: 18px;
      }
      @include mdq-max(md) {
        font-size: 15px;
      }

      .type_t {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        color: #fff;
        font-weight: 400;
        background: #666;
        letter-spacing: -0.8px;
        padding: 0 5px;
        height: 25px;
        line-height: 23px;
        box-sizing: border-box;
        margin-right: 10px;
      }
    }

    &.tbl_detail_span {
      display: flex;
      align-items: center;
      float: right;

      @include mdq-max(lg) {
        float: none;
        margin-top: rem(10);
        font-size: 14px;
      }

      @include mdq-max(md) {
        font-size: 12px;
      }

      > span {
        &:not(:first-child) {
          position: relative;
          margin-left: 1em;
          padding-left: 1em;

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 0.8em;
            background: $gray-3;
            transform: translateY(-50%);
          }
        }
        &.anwer:before,
        &.anwer_on:before,
        &.anwer_off:before {
          display: none;
        }
      }
    }
  }

  &.type_e {
    /*항목이 많은 경우 */
    .col_w {
      width: 150px;
    }

    > thead > tr > th,
    > tbody > tr > th {
      background: #f6f6f6;
      text-align: left;
    }

    @include mdq-max(lg) {
      .col_w {
        width: 80px;
      }

      > thead > tr > th,
      > tbody > tr > th {
        padding: 8px 2px;
      }
    }
  }
}

///*뷰페이지 이전/다음글 이동*/
.border-list-type {
  margin-top: 50px;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li {
    font-size: rem(36);
    font-weight: 500;

    [class^="link"] {
      display: inline-flex;
      align-items: center;
      position: relative;
      &::before {
        content: "";
        display: inline-block;
        width: rem(30);
        height: 1px;
        margin-right: rem(18);
        background-color: $color-1;
      }
    }

    .link-next {
      &::before {
        order: 3;
        margin-right: 0;
        margin-left: rem(18);
        background-color: $black;
      }
    }

    .link-prev {
      color: $color-1;

      .icon-board-arr {
        order: 3;
        margin-right: 0;
        margin-left: 15px;
        background-image: url(../images/icon/icon_board_arr_c.svg);
      }
    }
  }

  .icon-board-arr {
    width: rem(37);
    height: rem(16);
    background-image: url(../images/icon/icon_board_arr.svg);
    margin-right: 15px;
  }

  @include mdq-max(md) {
    li {
      font-size: 16px;

      [class^="link"] {
        &::before {
          display: none;
        }
      }
    }
    .icon-board-arr {
      width: 18px;
    }
  }
}

@include mdq-max(md) {
  .tb-mobile {
    display: block;
    overflow: hidden;
    text-align: left;

    thead,
    tbody,
    tr,
    td {
      display: block;
      width: 100%;
      padding: 0;
    }

    thead {
      display: none;
    }

    tr {
      position: relative;
      border-bottom: 1px solid #ddd;
    }

    > thead,
    > tbody {
      > tr {
        > th,
        > td {
          padding-top: 14px;
          padding-bottom: 14px;
          padding-right: 0;
          padding-left: 0;
        }
      }
      > tr:first-child {
        > th,
        > td {
          padding-top: 10px;
          padding-bottom: 14px;
          border-top-width: 0;

          &:first-child {
            padding-top: 19px;
            border-top: solid 1px $gray-1 !important;

            &:not(.txt_box, .tit_box) {
              display: flex;
              align-items: center;
              padding-bottom: 0;
            }
          }
        }
      }

      > tr:last-child {
        border-bottom-width: 0;
      }
    }

    td {
      border-top: 0 !important;
      & > .btn-block {
        margin-top: 1.5em;
        padding: 0.6em;
      }

      &.inline > .btn-block {
        padding: 0.6em;
        display: inline-block;
        margin: -0.15em 0.25em 0 0;
        padding: 0.3em 0.6em;
        width: auto;
      }

      &.inline {
        display: inline-block;
        width: auto;
        font-size: 0.875em;
        color: #666;
        & + .inline,
        &.inline-split {
          padding-left: 0 !important;
          &:before {
            content: "|";
            font-size: 0.9em;
            margin: 0 6px 0 4px;
            opacity: 0.8;
          }
        }
      }
    }

    &.vertical {
      th {
        display: block;
        width: 100% !important;
        padding-bottom: 8px;
      }
      td {
        padding: 0 0 1em;
        height: auto;
      }
    }
  }
}
